@import '../../assets//scss//base//variable';
.questionContent {
  background-color: $white-color;
  //header
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 17px;
    border-bottom: 1px solid $grey-border-color;
    &_icon {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:last-child {
          margin-left: 5px;
        }
        .icon {
          font-size: 2rem;
          color: #999;
          &:hover {
            color: $red-color;
          }
        }
      }
    }
  }

  //container
  &-container {
    &_answer {
      padding: 15px 17px;
    }
    .form {
      &-item {
        border-bottom: 1px dashed #c5c5c5;
      }
      .ant-input-affix-wrapper {
        padding: 10px 17px;
        .ant-input-prefix {
          font-size: $font-size-base;
          font-weight: $font-weight-bold;
          color: $grey-dark-color;
          min-width: 85px;
        }
        .ant-input {
          font-size: $font-size-base;
          font-weight: $font-weight-bold;
          color: $green-color;
          &:disabled {
            color: $black-color;
          }
        }
        &.green-color {
          .ant-input {
            color: $green-color;
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }

  // card
  &-card {
    border: 1px dashed #c5c5c5;
    border-radius: 10px;
    overflow: hidden;
    &_header {
      padding: 8px 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &_auth {
      min-width: 120px;
      margin-right: 10px;
      color: $grey-dark-color;
      span {
        color: $black-color;
      }
    }
    &_like {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 12px;
        height: 12px;
        object-fit: cover;
        margin-right: 5px;
        cursor: pointer;
      }
    }
    &_text {
      padding: 0 0 8px 0;
      background-color: #f3f3f3;
      border-top: 1px dashed #c5c5c5;
      border-radius: 10px 10px 0 0;
      textarea {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        min-height: 110px;
        color: $green-color;
        &:disabled {
          color: $black-color;
        }
      }
    }
  }

  //paginate
  &-paginate {
    padding: 15px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_change {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .btn-change {
        min-width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        padding: 5px 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        .icon {
          width: 35px;
          height: 35px;
          font-size: 1.8rem;
          border-radius: 8px;
          color: $green-color;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eff9f8;
          &:first-child {
            margin-right: 5px;
          }
          &:last-child {
            margin-left: 5px;
          }
        }
        &:disabled {
          color: $gray-light-color;
          cursor: not-allowed;
          .icon {
            width: 35px;
            height: 100%;
            border-radius: 8px;
            color: $gray-light-color;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            &:first-child {
              margin-right: 7px;
            }
            &:last-child {
              margin-left: 7px;
            }
          }
        }
      }
    }
  }

  //submit button
  &-submit {
    padding: 14px 17px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid $grey-border-color;
    .ant-btn {
      padding: 10px 50px;
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}
