@use "../abstracts/" as *;

.about-card {
    border-radius: 35px;
    background: $background-color-blogCard;
    box-shadow: 0px 0px 6px $box-search-color;
    &__title {
        font-size: 20px;
        font-family: $bold-font;
        border: none;
        outline: none;
        border-radius: 35px;
        cursor: pointer;
        margin-bottom: 20px;
        &:hover {
            background-color: $bg-about-hover;
          }
    }
    &-content {
        a {
            color: $text-color;
            margin-right: 5px;
            text-decoration: none;
            &:hover {
                color: $hover-color;
              }
        }
    }
}