@use "../abstracts/" as *;

.list-title {
  display: flex;
  justify-content: center;
  .about-card__title {
    font-size: 20px;
    font-family: $bold-font;
    border: none;
    outline: none;
    border-radius: 35px;
    cursor: pointer;
    padding: 5 30px ;
    &:hover {
        background-color: $bg-about-hover;
      }
}
}

