@use "../abstracts/" as *;

.btn {
  &-ChangePhoto {
    border: none;
    cursor: pointer;
    padding: 16px;
    color: var(--color);
    border-radius: var(--border-radius);
    background-color: var(--backgroundColor);
    &:hover {
      color: $icon-color;
    }
  }
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: $bold-font;
  background-color: var(--backgroundColor);
  color: var(--color);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid $icon-color;
  margin-top: 16px;
  transition: 0.3s linear;
  &:hover {
    color: $icon-color;
  }
}
