@use "../abstracts/" as *;

.contact-area {
  &-img {
    img {
      width: 100%;
      height: 445px;
      display: block;
      box-shadow: 0px 2px 12.09px 0.91px $box-shadow-color;
      border-radius: 20px;
    }
  }
  &-title {
    padding-bottom: 0;
    &::before {
      display: none;
    }
    h2 {
      font-size: 30px;
      letter-spacing: 2px;
      font-family: $bold-font;
    }
  }
  &-info__list {
    ul {
      li {
        color: $background-color-tag;
        display: block;
        font-size: 14px;
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
        i {
          margin-right: 10px;
          color: $icon-color;
        }
      }
    }
  }
  &-form {
    textarea {
      border: none;
      font-size: 14px;
      border-bottom: 2px solid $border-color;
      margin-bottom: 50px;
      // padding: 0 0 20px;
      transition: 0.3s linear;
      &::placeholder {
        font-size: 14px;
        color: $input-color;
      }
      &:focus-within {
        border-color: $icon-color;
        outline: none;
      }
    }
  }
}
