@use "../abstracts/" as *;

.form-input {
  input {
    width: 100%;
    border: none;
    font-size: 14px;
    border-bottom: 2px solid $border-color;
    margin-bottom: 50px;
    padding: 0 0 20px;
    transition: 0.3s linear;
    box-shadow: var(--box-shadow);
    &::placeholder {
      font-size: 14px;
      color: $input-color;
    }
    &:focus-within {
      border-color: $icon-color;
      outline: none;
    }
  }
}
