@forward 'slide';
@forward 'recent-post';
@forward 'recent-post-card';
@forward 'pinned-card';
@forward 'reccentpost-blog-card';
@forward 'search-box';
@forward 'detail';
@forward 'blog-detail-comment';
@forward 'comment';
@forward 'like-button';
@forward 'about-content';
@forward 'about-card';
@forward 'about-card-title';
@forward 'about-card-content';
@forward 'contact';
@forward 'form-input';
@forward 'button';
@forward 'login';
@forward 'success';
@forward 'line';
