@use "../abstracts/" as *;

.like__button {
    padding: 10px 15px;
    background: $bg-button-color;
    font-size: 18px;
    font-family: $primary-font;
    border: none;
    outline: none;
    color:$text-color;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
