@use "../abstracts/" as *;

.like__button {
    padding: 10px 15px;
    font-size: 18px;
    font-family: $primary-font;
    // background: ;
    border: none;
    outline: none;
    color: #e8efff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
