@use '../abstracts/' as *;

.slider {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    img {
        width: 100%;
        object-fit: cover;
    }
    &-item {
        figure {
            width: 80%;
            margin: auto;
        }
    }
    &-wrapper {
        background: linear-gradient($background-color, $background-color-second);
        border-radius: 30px;
    }
}
