$font-body: "Quicksand", sans-serif !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

$primary-bg-color: #DDDDDD !default;
$primary-color: #36B872;
$secondary-color: #F8F8F8;
$black-color: #333333;
$white-color: #FFFFFF;
$red-color: #FF5855;
$green-color: #3DBD78;
$green-light-color: #EFF9F8;
$grey-dark-color: #666666;
$gray-light-color: #999999;
$grey-border-color: #E6E6E6;
$grey-bg-color: #DCDBE0;
$blue-dark-color: #2B3042;
$blue-bg-color: #393E50;
$grey-table-boder: #CCCCCC;
$green-table-bg: #35B46F;
$list-border: #EEEEEE;
$bg-grey: #D9D9D9;;

$font-size-base: 1.4rem;

$button-height: 3.5rem;

$button-height-small: 3rem;

$input-hegiht: 4rem;

$input-hegiht-small: 3rem;