.btn-primary {
  @extend %btn-bg-green;
  color: $white-color;
}

.btn-danger {
  @extend %btn-bg-white;
  color: $red-color;
  border: 1px solid $red-color
}

.btn-next-prev {
  @extend %btn-bg-grey;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 8px;
}

.btn-circle {
  @extend %btn-bg-grey;
  width: 2.4rem;
  height: 2.4rem;
  background-color: $green-light-color;
  border-radius: 50%;
  color: $black-color;
  padding: 0;
}