.manageFinanceSupport {
  width: 100%;
  .ant-list {
    border-radius: 20px;
    min-height: 70vh;
  }

  .ant-list-header,
  .ant-list-footer {
    padding: 15px 14px;
  }
  .ant-list-header {
    border-bottom: 1px solid $grey-border-color;
  }
  .ant-list-footer {
    border-top: 1px solid $grey-border-color;
  }

  .ant-layout-content {
    width: 100%;
    background-color: $white-color;
    box-shadow: 0px 4px 30px rgba($color: $black-color, $alpha: 0.05);
    border-radius: 20px;
    overflow: hidden;
  }
  .ant-list-item {
    border-bottom: 1px solid $grey-border-color;
  }
  .ant-list-item:last-child {
    border-bottom: 0;
  }
  .ant-list-item:hover {
    background-color: $green-color;
    color: $white-color;
    cursor: pointer;
    .ant-typography {
      color: inherit;
    }
  }

  .ant-btn {
    &.ant-btn-circle {
      height: 19px;
      width: 19px !important;
      min-width: unset;
    }
    &.ant-btn-primary {
      @extend .btn-primary;
      border-radius: 50%;
      padding: unset;
      span {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }
}
