.ant-pagination-options {
  position: absolute;
  left: 0px;
  margin-left: 13px !important;

  &::before {
    content: 'Hiển thị ';
    color: $gray-light-color;
    font-size: 12px;
  }

  &::after {
    content: ' trên 1 trang ';
    color: $gray-light-color;
    font-size: 12px;
  }

  .ant-pagination-options-size-changer {
    .ant-select-selector {
      border: none;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    }
  }
}

.ant-pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  justify-content: flex-end;
  padding: 3rem 2.2rem 2rem 1.3rem;

  .ant-pagination-item {
    border: none;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-active {
      background-color: $green-color;

      a {
        color: white;
      }
    }
  }

  li {
    margin: 0px;
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    button {
      border: none;
    }
  }

  .ant-pagination-disabled {
    button {
      color: $gray-light-color !important;
    }
  }
  /* &.payment-pagination {
    .ant-pagination-item {
      width: 27px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } */
  &.manageFinanceKnowledge-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .ant-pagination-options {
      display: none;
    }
    .ant-pagination-item {
      width: 25px !important;
      min-width: 25px !important;
      height: 25px;
      padding: unset;
    }
  }
}
.ant-pagination-prev {
  .ant-pagination-item-link:after {
    content: 'Trước';
    opacity: 0.7;
    margin-right: 4px;
  }
}
.ant-pagination-next {
  .ant-pagination-item-link::before {
    content: 'Tiếp';
    opacity: 0.7;
    margin-left: 4px;
  }
}
.ant-pagination-disabled {
  button {
    color: $gray-light-color !important;
  }
}
