.manageFinanceKnowledge {
  &-container {
    width: 100%;
    background: unset;

    .list-option {
      padding: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $grey-border-color;
    }
    .ant-segmented {
      background-color: #f2f2f2;
      border-radius: 10px;

      &-item {
        border-radius: 10px;
        padding: 8px 24px;
        font-weight: $font-weight-bold;
        min-width: max-content;
        &-label {
          font-size: $font-size-base;
          font-weight: $font-weight-bold;
          color: $black-color;
          padding: unset;
          line-height: 1.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.ant-segmented-item-selected {
          background-color: $green-color;

          .ant-segmented-item-label {
            color: $white-color;
          }
        }
      }
      &-thumb {
        background-color: $green-color;
        border-radius: 10px;
        &.ant-segmented-item-selected {
          color: $white-color;
        }
      }
    }
    .ant-list {
      border-radius: 20px;
      height: 100%;
      &-header {
        border-bottom: 1px solid $grey-border-color;
        .title {
          color: $black-color;
          padding: unset !important;
        }
      }
      &-header,
      &-footer {
        padding: 13px 17px;
      }
      &-footer {
        border-top: 1px solid $grey-border-color;
        .btn-add-new {
          margin-left: auto;
        }
      }

      &-item {
        border-bottom: 1px solid #ebebeb;
        padding: 0 17px !important;
        padding: 0;
        cursor: pointer;
        &:last-child {
          border-bottom: unset !important;
        }
        .ant-typography {
          width: 100%;
          padding: 10px 0;
          font-size: $font-size-base;
          font-weight: $font-weight-semibold;
          border-radius: 10px;
        }
        &.active {
          .ant-typography {
            background-color: $green-color;
            color: $white-color;
            padding: 10px 16px;
          }
        }
      }
    }
    &_list {
      .ant-list-footer {
        border-top: unset;
      }
    }

    .ant-layout-content {
      width: 100%;
      min-height: 70vh;
      background-color: $white-color;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      overflow: hidden;
      .ant-pagination {
        justify-content: center;
      }
    }
  }
}
