<div class="about-page row">
    <div class="about-page-title col-md-5 text">
        <h2>
            It’s not just a Food Its a Expirence!
        </h2>
        <p>This is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eius vel tempore consectetur
            nesciunt?
        </p>
        <div class="about-page-button__restaurant d-flex justify-content-center">
            <button> <a href=""><i class="fa-solid fa-utensils"></i> Restaurants</a></button>
        </div>
        <div class="about-page-button row">

            <figure class="col-md-6" id="">
                <img src="assets/images/leaf.png" alt="">
            </figure>
            <div class="about-page-button__aboutus col-md-6 align-self-center d-flex justify-content-end  ">
                <button> <a href=""><i class="fa-solid fa-message"></i> about us</a></button>
            </div>
        </div>
    </div>
    <div class="about-page-img col-md-7" id="img1">
        <figure class="about-page-img__food d-flex">
            <img src="assets/images/pngwing 7@2x.png" alt="aboutimg" class="about-page-img__food-wing7">
        </figure>
        <div class="about-page-img__food2 d-flex">
            <figure class="col-md-4 ">
                <img src="assets/images/pngfind 1.jpg" alt="">
            </figure>
            <figure class="about-page-img__food3 col-md-8 d-flex flex-row-reverse">
                <img src="assets/images/Meal-PNG-Download-Image 1.png" alt="">
            </figure>
        </div>
    </div>
    