<div class="about-card container p-5 m-5">
    <div class="about-card__body text-center align-self-center ">
        <button class="about-card__title px-5">{{ cardtitle }}</button>
        <!-- <p class="card-text">{{ cardtext }}</p> -->
        <p class="about-card-content"><a href="{{ link1 }}" class="card-content">{{ cardcontent1 }}</a></p>
        <p class="about-card-content"><a href="{{ link2 }}" class="card-content">{{ cardcontent2 }}</a></p>
        <p class="about-card-content"><a href="{{ link3 }}" class="card-content">{{ cardcontent3 }}</a></p>
        <p class="about-card-content"><a href="{{ link4 }}" class="card-content">{{ cardcontent4 }}</a></p>
    </div>
</div>