<div class="about-page row mt-5">
    <div class="about-page-title col-lg-5 text">
        <h2>
            It’s not just a Food Its a Expirence!
        </h2>
        <p>This is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eius vel tempore consectetur
            nesciunt?
        </p>
        <div class="row">
            <div class="about-page-button__restaurant d-flex justify-content-center col-md-6 ">
                <button> <a href=""><i class="fa-solid fa-utensils"></i> Restaurants</a></button>
            </div>
            <div class="about-page-button__aboutus d-flex justify-content-center">
                <button> <a href=""><i class="fa-solid fa-message"></i> about us</a></button>
            </div>
        </div>
        <div class="about-page-button row">
            <figure class="leaf col-md-6">
                <img src="assets/images/leaf.png" alt="">
            </figure>
        </div>
    </div>
    <div class="about-page-img col-lg-7" id="img1">
        <figure class="about-page-img__food">
            <img src="assets/images/pngwing7@2x.png" alt="aboutimg">
        </figure>
        <div class="about-page-img__food2 d-flex flex-row-reverse">
            <figure class="col-md-4 dool">
                <img src="assets/images/pngfind.png" alt="">
            </figure>
        </div>
        <div class="about-page-img__food2">
            <figure class="col-md-4 dool">
                <img src="assets/images/pngfind.png" alt="">
            </figure>
        </div>
    </div>
</div>
