<!-- Blog Details Comments area Start -->
<div class="blog-details-comment-area mb-n6">
    <h2 class="blog-desc-title mb-6 mt-8">Comment</h2>
    <include src="components/blog-details-comment.html" locals='{
        "imgavtcommet": "assets/images/avt.png",
        "info" : "Mai Lan",
        "day" : "07 10 2022",
        "comment" : "Thank you so much for delivering a quality piece. Will be using it with one of my outfits. Just not sure which one!!!!"
      }'></include>
      <include src="components/blog-details-comment.html" locals='{
        "imgavtcommet": "assets/images/avt.png",
        "info" : "Mai Lan",
        "day" : "07 10 2022",
        "comment" : "Thank you so much for delivering a quality piece. Will be using it with one of my outfits. Just not sure which one!!!!"
      }'></include>
      <include src="components/blog-details-comment.html" locals='{
        "imgavtcommet": "assets/images/avt.png",
        "info" : "Mai Lan",
        "day" : "07 10 2022",
        "comment" : "Thank you so much for delivering a quality piece. Will be using it with one of my outfits. Just not sure which one!!!!"
      }'></include>
<!-- Blog Details Comments area End -->

<!-- Comments Post Area Start -->
<div class="comment-post-area">
    <h2 class="blog-desc-title mb-6 pt-8">Đăng bình luận</h2>
    <form action="#">
        <div class="row">

            <!-- Name Input Start -->
            <div class="col-md-6 col-custom">
                <div class="input-item mb-4">
                    <input class="rounded-0 w-100 input-area name" type="text" placeholder="Tên">
                </div>
            </div>
            <!-- Name Input End -->

            <!-- Email Input Start -->
            <div class="col-md-6 col-custom">
                <div class="input-item mb-4">
                    <input class="rounded-0 w-100 input-area email" type="text" placeholder="Email">
                </div>
            </div>
            <!-- Email Input End -->

            <!-- Message Input Start -->
            <div class="col-12 col-custom">
                <div class="input-item mb-4">
                    <textarea cols="30" rows="10" name="comment" class="rounded-0 w-100 custom-textarea input-area"
                        placeholder="Message" spellcheck="false" data-gramm="false"></textarea>
                </div>
            </div>
            <!-- Message Input End -->

            <!-- Submit Button Start -->
            <div class="col-12 col-custom mt-4">
                <button type="submit" class="btn btn-primary btn-hover-dark">Gửi</button>
            </div>
            <!-- Submit Button End -->

        </div>
    </form>
</div>
<!-- Comments Post Area End -->