<!-- Blog Details Wrapper Start -->
<div class="blog-detail blog-details-wrapper">

    <!-- Blog Details Content Start -->
    <div class="blog-details-content">

        <!-- Blog Image Start -->
        <div class="blog-details-content__image">
            <img src="{{ imgdetailblog }}" alt="Blog Image" class="blog-details-content__image-fitimg">
        </div>
        <!-- Blog Image End -->

        <!-- Blog details title & Meta Start -->
        <div class="blog-details-content__titlemeta">
            <h2 class="blog-details-content__titlemeta-title">{{ tittledetailblog }}</h2>
            <ul class="blog-details-content__titlemeta-meta">
                <li>By: <a href="{{ linkinfo }}">{{ info }}</a> <span>{{ day }}</span></li>
                <li>{{ numbercomment }}</li>
            </ul>
        </div>
        <!-- Blog details title & Meta End -->

        <!-- Content Start -->
        <p>{{ content }}</p>
        <!-- Blogquote Start -->
        <blockquote> {{ blogquote }}</blockquote>
        <!-- Blogquote End -->
        <p>{{ content2 }}</p>
        <!-- Content End -->

        <!-- Blog Details Tags & Social Shear Start -->
        <div class="blog-details-content__tagsocial mb-n4">

            <!-- Blog Details Tags Start -->
            <div class="blog-details-content__tagsocial-tag mb-4">
                <ul>
                    <li><a href="">breakfast</a></li>
                    <li><a href="">dinner</a></li>
                    <li><a href="">lunch</a></li>
                </ul>
            </div>
        <include src="components/like-button.html"></include>

            <!-- Blog Details Tags End -->
        </div>
    </div>
</div>