<div class="review ">
  <article class="review-card m-2">
    <figure class="review-card-reviewers__img  d-flex justify-content-center">
      <img src="{{cardReviewersImage}}" class="img-fluid rounded-circle w-25 mr-3 mb-3 " alt="Reviewes image" />
      <div class="review-card-reviewers__rating " style="--rating: {{rating}}">
      </div>
    </figure>
    <figcaption>
      <p class="review-card-reviewers__info text-center">{{info}}</p>
      <blockquote class="review-card-reviewers__comment d-flex text-center">
        {{comment}}
      </blockquote>
    </figcaption>
  </article>
</div>
