<div class="recent-card row container mt-5 bg-light rounded-3 mb-5 p-5">
    <div class="col-md-6 col-sm-5 ">
        <figure class="recent-blog-card__img justify-content-between">
            <img src="{{imageblogcard}}" alt="recent image" />
        </figure>
    </div>
    <div class="recent-blog-card__body col-md-6 col-sm-6 text-center align-self-center">
        <h5 class="card-title">{{ cardtitle }}</h5>
        <p class="card-text">{{ cardtext }}</p>
        <p class="card-text"><small class="text-muted">{{ cardtime }}</small></p>
    </div>
</div>