<div class="recent-blog-card container row mt-5 mb-5 p-5 ">
    <div class="col-md-6 col-sm-5 ">
        <figure class="recent-blog-card__img justify-content-between">
            <img src="{{imageBlogCard}}" alt="recent image" />
        </figure>
    </div>
    <div class="recent-blog-card__body col-md-6 col-sm-6 text-center align-self-center">
        <h5 class="card-title">{{ cardTitle }}</h5>
        <p class="card-text">{{ cardText }}</p>
        <p class="card-text"><small class="text-muted">{{ cardTime }}</small></p>
        <div class="d-flex justify-content-center">
            <include src="components/button.html" locals='{
            "class" : "btn-ChangePhoto btn-success btn-block",
            "backgroundColor" : "#b7b7b7",
            "button" : "Read more",
            "boderRadius" : "20px"
        }'></include>
        </div>
    </div>
</div>
