<div class="login-card login loginform mb-5 p-5" id="register">
    <div class="login-card-body body">
       
        <div class="d-flex justify-content-center">
            <figure class="body-img px-3">
                <img src="assets/images/onlineRegistration.png" class="" alt="">
            </figure>
        </div>
        <form class="body-form" action="">
            <include src="components/form-input.html" locals='{
                            "type" : "text",
                            "classInput" : "form-control form-control-lg mb-4",
                            "placeholder" : "Your Name",
                            "boxShadow" : "box-shadow: 0px 0px 6px $box-search-color"
                        }'></include>
            <include src="components/form-input.html" locals='{
                            "type" : "gmail",
                            "classInput" : "form-control form-control-lg mb-4",
                            "placeholder" : "Your Gmail",
                            "boxShadow" : "box-shadow: 0px 0px 6px $box-search-color"
                        }'></include>
            <include src="components/form-input.html" locals='{
                            "type" : "password",
                            "classInput" : "form-control form-control-lg mb-4",
                            "placeholder" : "Your Password",
                            "boxShadow" : "box-shadow: 0px 0px 6px $box-search-color"
                        }'></include>
            <include src="components/form-input.html" locals='{
                            "type" : "password",
                            "classInput" : "form-control form-control-lg mb-4",
                            "placeholder" : "Confrim Password",
                            "boxShadow" : "box-shadow: 0px 0px 6px $box-search-color"
                        }'></include>
            <div class="body-btn row ">
                <div class="button-login d-flex justify-content-center col-md-6">
                    <include src="components/button.html" locals='{
                                    "class" : "btn-login btn-register-login btn btn-success btn-block btn-sm text-body",
                                    "backgroundColor" : "#8c99dd",
                                    "color" : "",
                                    "boderRadius" : "20px",
                                    "button" : "Login"
                                }'></include>
                </div>
                <div class="button-login d-flex justify-content-center col-md-6">
                    <include src="components/button.html" locals='{
                                    "class" : "btn-Register btn btn-success btn-block btn-sm  text-body",
                                    "backgroundColor" : "#b7b7b7",
                                    "color" : "",
                                    "boderRadius" : "20px",
                                    "button" : "Register"
                                }'></include>
                </div>
                <include src="components/success.html"></include>
            </div>
        </form>
    </div>
</div>
