<!-- Comments Post Area Start -->
<div class="comment-post-area">
    <h2 class="comment-post-area-blog-desc__title mt-5">Write a comment</h2>
    <form action="">
        <div class="row">

            <!-- Name Input Start -->
            <div class="col-md-6 col-custom">
                <div class="comment-post-area__input-item mb-4">
                    <input class="rounded-0 w-100 comment-post-area__input-item-area name" type="text"
                        placeholder="Tên">
                </div>
            </div>
            <!-- Name Input End -->

            <!-- Email Input Start -->
            <div class="col-md-6 col-custom">
                <div class="input-item mb-4">
                    <input class="rounded-0 w-100 comment-post-area__input-item-area email" type="email" id="email"
                        placeholder="Email">
                </div>
            </div>
            <!-- Email Input End -->

            <!-- Message Input Start -->
            <div class="col-12 col-custom">
                <div class="comment-post-area__input-item">
                    <textarea cols="30" rows="10" name="comment"
                        class="rounded-0 w-100 custom-textarea comment-post-area__input-item-area" placeholder="Message"
                        spellcheck="false" data-gramm="false"></textarea>
                </div>
            </div>
            <!-- Message Input End -->

            <!-- Submit Button Start -->
            <div class="col-12 col-custom my-3">
                <button type="submit" class="comment-post-area__btn btn-primary p-3">Post comment</button>
            </div>
            <!-- Submit Button End -->

        </div>
    </form>
</div>
<!-- Comments Post Area End -->
