@use "functions" as *;

// Font family
$primary-font: Poppins;
$bold-font: Poppins-bold;

// Colors
$text-color: #000;
$background-color: #fff;
$background-color-second: #ffa3a3;
$text-logo: #e41414;
