@use "functions" as *;

// Font family
$primary-font: Poppins;
$bold-font: Poppins-bold;
$SemiBold-font : Poppins-SemiBold;

// Colors
$text-color: #000;
$background-color: #fff;
$background-color-second: #ffa3a3;
$text-logo: #e41414;
$background-color-third: #B6B6B6;
$background-color-card: #F3F3F3;
$icon-color : #FFB90A;
$box-search-color : rgba(0, 0, 0, 10);
$background-color-blogCard : #F6F6F6;
$background-color-tag : #6d6d6d;
$hover-color : #f6ab49;
$text-content : #383838;
$bg-area-color : #f8f8f8;

