@use 'functions' as *;

// Font family
$primary-font: Poppins;
$bold-font: Poppins-bold;
$SemiBold-font: Poppins-SemiBold;
$Playfair-Display-font: PlayfairDisplay-Regular;

// Colors
$text-color: #000;
$background-color: #fff;
$background-color-second: #ffa3a3;
$text-logo: #e41414;
$background-color-third: #b6b6b6;
$background-color-card: #f3f3f3;
$icon-color: #ffb90a;
$box-search-color: rgba(0, 0, 0, 10);
$background-color-blogCard: #f6f6f6;
$background-color-tag: #6d6d6d;
$hover-color: #f6ab49;
$text-content: #383838;
$bg-area-color: #f8f8f8;
$bg-about-hover: #f6e4e4;
$bg-button-color: #1d59da;
$box-shadow-color: rgba(184, 184, 184, 0.35);
$icon-color: #e9a301;
$border-color: #eeeeee;
$input-color: #9e9e9e;
$bg-button-color-second: #1c1121;
$bg-card-color: #e7d2d2;
$bg-img-color: #d9d9d9;
$bg-button-color: #8c99dd;
$bg-button-color-second: #b7b7b7;
$text-color-modal: #d3dae0;
$text-color-title: #7c8691;
$text-color-content: #6b6b6b;
$background-color-line: #d4d4d4;
$color-line: #232836;
