@use "../abstracts/" as *;

img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: auto;
  }

.style-text {
  line-height: 1;
}
::placeholder {
  font-size: 15px;
  text-transform: uppercase;
}
