@use "../abstracts/" as *;

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-bold;
  src: url(../assets/fonts/Poppins-bold.ttf);
}

@font-face {
  font-family: $SemiBold-font;
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: $Playfair-Display-font;
  src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);

}

body {
  font-family: $primary-font;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
}
