@use "../abstracts/" as *;

.header {
  &-logo {
    &-content {
      font-family: $bold-font;
      font-size: 25px;
      line-height: 38px;
      color: $text-logo;
    }
  }
  &-nav {
    &-list {
      list-style-type: none;
      background-color: $background-color-second;
      padding: 21px 28px;
      border-radius: 27px;
      li {
        a {
          text-decoration: none;
          color: $text-color;
        }
        padding: 10px 32px;
        border-radius: 27px;
        transition: all ease-in-out 0.5s;
        &:hover {
          background-color: $background-color;
        }
      }
    }
  }
}
