.main-wrapper {
  padding: 0 20px 0 20px;
  position: relative;

  .title {
    padding: 15px 0;
  }

  .content-box {
    background: $white-color;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 25px 25px 0 0;
  }
}