<header class="header navbar navbar-expand-lg row justify-content-between container-fluid">

  <div class="header-logo navbar-brand d-flex align-items-center ml-auto gap-4 col-md-4 col-lg-5 col-xl-5">
    <figure class="header-logo-image">
      <img src="assets/images/logo.png" alt="logo food review blog" />
    </figure>
    <h1 class="header-logo-content">Food Review Blog</h1>
  </div>
  <div class="menu__actions" id="toggle">
    <i class="fa-solid fa-bars"></i>
  </div>
  <nav class="header-nav col-md-7">
    <ul class="header-nav-list navbar-nav d-flex justify-content-between ">
      <li class="nav-item"><a href="javascript: void(0)">Home</a></li>
      <li class="nav-item"><a href="javascript: void(0)">Restaurants</a></li>
      <li class="nav-item"><a href="javascript: void(0)">Newsfeed</a></li>
      <li class="nav-item"><a href="javascript: void(0)">Logout</a></li>
    </ul>
  </nav>
</header>
