<header class="header row justify-content-between">
  <div class="header-logo d-flex align-items-center gap-4 col-md-4">
    <figure class="header-logo-image">
      <img src="assets/images/logo.png" alt="logo food review blog" />
    </figure>
    <h1 class="header-logo-content">Food Review Blog</h1>
  </div>
  <nav class="header-nav col-md-6">
    <ul class="header-nav-list d-flex justify-content-between">
      <li><a href="javascript: void(0)">Home</a></li>
      <li><a href="javascript: void(0)">Restaurants</a></li>
      <li><a href="javascript: void(0)">Newsfeed</a></li>
      <li><a href="javascript: void(0)">Logout</a></li>
    </ul>
  </nav>
</header>
